# .gitignore
# tells git which files shouldn't be tracked nor shown as being untracked
*.[oa]
*.lo
*.la
*.libs
*.pdf
4cell_lines/
.RData*
small_network/
feed_forward_simple/
src/levmar-2.5/.deps
src/levmar-2.5/Makefile
# Vim swap files
*.swn
*.swp
*.swo
