# .gitignore
# tells git which files shouldn't be tracked nor shown as being untracked
*.[oa]
*.lo
*.la
*.libs
*.pdf
.RData*
feed_forward_simple/
src/levmar-2.5/.deps
# Vim swap files
*.swn
*.swp
*.swo
Makefile*
config*
