# .gitignore
# tells git which files shouldn't be tracked nor shown as being untracked
*.[oa]
*.swp
*.swo
.nfs00000000000059f400000711
*.lo
*.la
*.libs
*.pdf
4cell_lines/
.RData*
small_network/
feed_forward_simple/
src

